<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}"/>
{% extends 'base.html' %} {% block title %}TODOIST | Login{% endblock %} {%
block body %}
<div class="login-container">
  <br />
  <br />
  <img
    src="static/images/todoist-logo.jpg"
    alt="The TODOIST logo"
    title="The TODOIST logo"
    height="150"
    width="150"
  />

  <h4>Login</h4>

  <form method="POST">
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" id="email" name="email" required />
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" id="password" name="password" required />
    </div>

    <input type="submit" value="Login" />
  </form>
  {% if error %}
  <p style="color: tomato">{{ error }}</p>
  {% endif %}

  <a href="/register">Not a member yet? Register here</a>
  {% endblock %}
</div>
