{% extends 'base.html' %}

{% block title %}TODOIST | Register{% endblock %}

{% block body %}
  <div class="login-container">
    <img src="static/images/todoist-logo.jpg" alt="The TODOIST logo" title="The TODOIST logo" height="150" width="150" style="padding-top: 6.58rem"/>

<!-- Register Form -->
  <h4>Register</h4>

  <form method="POST">
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" name="email" id="email" required>
    </div>
  
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" name="password" id="password" 
        pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$"
        title="Password must be at least 8 characters long and include at least one uppercase letter, one lowercase letter, and one number."
        required>
    </div>
  
    <div class="form-group">
      <label for="password_confirmation">Password Confirmation</label>
      <input type="password" name="password_confirmation" id="password_confirmation" required>
    </div>
  
    <input type="submit" value="Register">
  </form>

<!-- Form Error Text -->
    {% if error %}
        <p style="color: tomato;">{{ error }}</p>
    {% endif %}

<!-- Login Link -->
  <a href="/login">Already a member? Login here</a>
{% endblock %}