{% extends 'base.html' %}

{% block title %}Create New Todo-list{% endblock %}

{% block body %}
  <h1>Create</h1>

  <form method="POST">
    <h2>Your Order:</h2>
    <ul>
        {% for topic in topics %}
            <li>
                <label for="topic_{{ topic.id }}">{{ topic.name }}</label>
                <input type="number" name="{{ topic.slug }}" id="topic_{{ topic.id }}" min="0" value="0">
            </li>
        {% endfor %}
    </ul>

    <h2>Your Address:</h2>
    <div>
      <label for="name">Full Name</label>
      <input type="text" name="name" id="name" placeholder="Max Musterman">
    </div>
    <div>
      <label for="street">Street and Number:</label>
      <input type="text" name="street" id="street" placeholder="Street 123">
    </div>
    <div>
      <label for="city">City:</label>
      <input type="text" name="city" id="city" placeholder="Todo Town">
    </div>
    <div>
      <label for="state">State:</label>
      <input type="text" name="state" id="state" placeholder="Todostate">
    </div>
    <div>
      <label for="zip">Zip:</label>
      <input type="text" name="zip" id="zip" placeholder="12345">
    </div>
    <div>
      <label for="country">Country:</label>
      <input type="text" name="country" id="country" placeholder="Todoland">
    </div>
    <input type="submit" value="Submit Order">

  </form>
  
{% endblock %}