*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
  }
  
  nav {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  nav ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    margin-right: 1rem;
  }
  
  nav li a {
    color: white;
    text-decoration: none;
  }
  
  nav li a:hover {
    text-decoration: underline;
  }
  
  .header {
    background-color: #fff;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    padding: 3rem;
    text-align: center;
    width: 100%;
  }
  
  .header h1 {
    font-size: 4rem;
    margin-bottom: 0.5rem;
  }
  
  .username {
    font-weight: bold;
    margin-left: 0.5rem;
  }
  
  .list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 8rem;
    align-items: center;
    padding: 3rem;
    flex-direction: row;
  }
  
  .list-box {
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    display: flex;
    height: 12rem;
    justify-content: center;   
    margin-right: 2rem;
    margin-bottom: 2rem;
    padding: 1rem;
    width: 12rem;
  }
  
  .list-box h3 {
    font-size: 1.5rem;
    margin-top: 1rem;
    text-align: center;
  }
  
  .list-box.add-list {
    background-color: #f4f4f4;
    border: 2px dashed #ccc;
    cursor: pointer;
    opacity: 0.7;
  }
  
  .list-box.add-list:hover {
    opacity: 1;
  }
  
  .list-box.add-list h3 {
    color: #ccc;
    font-size: 1.2rem;
    text-align: center;
  }
  
  .list-box.add-list h3:hover {
    color: #333;
  }

  .prev_next{
      position: absolute;
      bottom: 0;
      width: 100%;
      }

  .p {
    font-size: smaller;
 }

