<!DOCTYPE html>
<html lang="en">

<!-- Defines the header block, sets character encoding and page title, links to CSS stylesheet and JavaScript file, and sets favicon icon -->
<head>
  {% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODOIST - Get Your Life Sorted</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <link rel="shortcut icon" type="image/png" href="static\images\TODOIST_favicon.ico"/>
    <script src="../static/colorPicker.js" defer></script>
  {% endblock %}
</head>
<body>
  {% block body %}{% endblock %}
  <footer>
    <br>

<!-- Checks if user authenticated, displays users email -->
    {% if current_user.is_authenticated %}
      <small>
        Logged in as {{ current_user.email }}.
    <!-- Link to logout -->
        <a href="{{ url_for('cookies.logout') }}">Logout</a>
      </small>

<!-- Allows user to select background color -->
      <div class="color-picker" >
        <div class="color-picker-green" id="color-picker-green"></div>
        <div class="color-picker-red" id="color-picker-red"></div>
        <div class="color-picker-blue" id="color-picker-blue"></div>
        <div class="color-picker-yellow" id="color-picker-yellow"></div>
      </div>
    {% endif %}
  </footer>
</body>
</html>
