<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% extends 'base.html' %}

{% block title %}Create New Todo-list{% endblock %}

{% block body %}
<header>
    <nav class="heading">
        <h3> TODOIST</h3> 
        <h5> - Get Your Life Sorted </h5>
      </nav>
    <nav>
      <ul class="navigation_bar">
        <li class="nav_li"><a href="/">Login Page</a></li>
        <li class="nav_li"><a href="/lists">My Lists</a></li>
        <li class="nav_li"><a href="/about">About</a></li>
      </ul>
    </nav>
  </header>

    <form class="newlist" action="/list/<id>/editlist" method="post">
        <h2>Edit list:</h2>
        <label for="list-name">List Name:</label>
        <input type="text" id="list-name" name="list-name" value="{{listname}}" required>
        <label for="list-items">To-Do's:</label>
        <textarea id="list-items" name="list-items" required>{{"\n".join(listdesc)}}</textarea>
        <button type="submit">Create List</button>
    </form>

    
{% endblock %}