<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODOIST - Get Your Life Sorted</title>
    <link rel="shortcut icon" type="image/png" href="static\images\TODOIST_favicon.ico"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>
  <header>
    <nav class="heading">
      <h3> TODOIST</h3> 
      <h5> - Get Your Life Sorted </h5>
    </nav>
    <nav>
      <ul class="navigation_bar">
        <li class="nav_li"><a href="/lists">My Lists</a></li>
        <li class="nav_li"><a href="/about">About</a></li>
      </ul>
    </nav>
  </header>
  <div class="login-container">
    <img src="static/images/todoist-logo.jpg" alt="The TODOIST logo" title="The TODOIST logo" height="150" width="150"/>
    <form>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" required>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
      </div>
      <input type="submit" value="Login" style="color:grey;">
    </form>
  </div>
</body>
</html>
