<!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}"> -->
{% extends 'base.html' %}

{% block title %}Your Lists{% endblock %}

{% block body %}
<a href="/lists">
  <button class="backbutton">Back</button>
</a>
  <h1>{{listname}}</h1>
  
  <ul>
    {% for item in listdesc %}
      <li>{{ item }}</li>
    {% endfor %}
  </ul>
<a href="/lists/{{id}}/edit">
  <button class="editbutton">Edit</button>
</a>
<form action="/lists/{{id}}/delete" method="post">
  <input type="submit" name="delete" value="Delete" />
</form>

{% endblock %}