<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% extends 'base.html' %}

{% block title %}Your Lists{% endblock %}

{% block body %}
<header>
  <nav class="heading">
      <h3> TODOIST</h3> 
      <h5> - Get Your Life Sorted </h5>
    </nav>
</header>

<a href="/lists">
  <button class="backbutton" >Back</button>
</a>
  <h1>{{listname}}</h1>
  
  <ul>
    {% for item in listdesc %}
      <li>{{ item }}</li>
    {% endfor %}
  </ul>
<a href="/lists/{{id}}/edit">
  <button class="editbutton">Edit</button>
</a>
  <form class="delete-button-form" action="/lists/{{id}}/delete" method="post">
    <input class="delete-button" type="submit" name="delete" value="Delete" />
  </form>

{% endblock %}