<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TODOIST - Get Your Life Sorted</title>
  <link rel="shortcut icon" type="image/png" href="static\images\TODOIST_favicon.ico"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>

<body>
  <header>
      <nav class="heading">
          <h3> TODOIST</h3> 
          <h5> - Get Your Life Sorted </h5>
        </nav>
      <nav>
        <ul class="navigation_bar">
          <li class="nav_li"><a href="/">Login Page</a></li>
          <li class="nav_li">My Lists</li>
          <li class="nav_li"><a href="/about">About</a></li>
        </ul>
      </nav>
    </header>
  <br>  
  <br>
  <h3>Welcome {{ username }}, here are your lists</h3>

  <div class="list-container">
    
    {% for topic in topics_pagination.items %}
    <a style="cursor: pointer" href="/lists/{{ topic.id }}">
      <button class="list_buttons">
        {{ topic.name }}
      </button>
    </a>
    {% endfor %}
    <a style="cursor: pointer" href="/newlist">
      <button style="font-weight: bold" class="list_buttons">
        + Add New List
      </button>
    </a>
  </div>

  <nav class="prev_next">
    {% if topics_pagination.prev_num %}
      <a href="{{ url_for('cookies.topics', page=topics_pagination.prev_num) }}">Previous Page</a>
    {% else %}
      <span>Previous Page</span>
    {% endif %}
      <span> - </span>
    {% if topics_pagination.next_num %}
      <a href="{{ url_for('cookies.topics', page=topics_pagination.next_num) }}">Next Page</a>
    {% else %}
      <span>Next Page</span>
    {% endif %}
  </nav>
</body>