{% extends 'base.html' %}

{% block title %}{{listname}}{% endblock %}

{% block body %}
<header>
  <nav class="heading">
      <h3> TODOIST</h3> 
      <h5> - Get Your Life Sorted </h5>
    </nav>
</header>

<!-- Button to the /lists page -->
<a href="/lists">
  <button class="backbutton" >Back</button>
</a>

<!-- Displays the name of the list -->
  <h1>{{listname}}</h1>
  
<!-- Loops and displays each item in the list  -->  
  <ul>
    {% for item in listdesc %}
      <li>{{ item }}</li>
    {% endfor %}
  </ul>

<!-- Button to the /editlist page -->
<a href="/lists/{{id}}/edit">
  <button class="editbutton">Edit</button>
</a>

<!-- Form to delete the list -->
  <form class="delete-button-form" action="/lists/{{id}}/delete" method="post">
    <input class="delete-button" type="submit" name="delete" value="Delete" />
  </form>

{% endblock %}